* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  width: 100%;
  height: 65px;
  background-color: #151B31;
}
.header__contnr {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 55px;
  width: 55px;
  background-color: #FFF;
  border-radius: 50%;
}
.header .button {
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  margin-right: 30px;
  cursor: pointer;
}
.header .button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header__icon-menu {
  display: none;
}
.header__navbar {
  height: inherit;
  width: 450px;
  display: block;
}
.header__menu {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header__items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: inherit;
  width: 80px;
}
.header__link {
  text-decoration: none;
  color: #FFF;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}
.header__link:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
@media screen and (max-width: 680px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__navbar {
    display: none;
  }
  .header__icon-menu {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .header__contnr {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: purple;
  }
  .header__icon-menu {
    display: none;
  }
  .header__logo {
    width: 85px;
    height: 85px;
    margin: initial;
  }
  .header__navbar {
    display: flex;
    height: 60%;
  }
  .header__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__items {
    border: 1px solid #FFF;
    height: 60px;
    width: 250px;
    border-radius: 4px;
  }
}
.signin {
  height: 270px;
  background-color: #CA3240;
}
.signin__contnr {
  background-color: #CA3240;
}
.signin__image {
  grid-area: img;
  width: 100px;
  height: 100px;
  margin: auto 0;
}
.signin__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.signin__title {
  grid-area: title;
  padding-top: 40px;
  color: #f0f0f0;
  font-size: 1.7em;
}
.signin__descrp {
  grid-area: descrip;
  color: #f0f0f0;
  padding-right: 50px;
}
.signin__descrp p {
  line-height: 26px;
}
.signin__form {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  height: 90%;
  margin: auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F0F0F0;
  grid-area: form;
}
.signin__form input {
  display: block;
  width: 80%;
  padding-left: 15px;
  height: 40px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}
.signin__form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.signin__form-button {
  display: block;
  width: 35%;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  background-color: #151B31;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  cursor: pointer;
}
.signin__login {
  grid-area: login;
}
.signin__login-text {
  text-align: center;
}
.signin__login-link {
  text-align: center;
  margin-top: 5px;
}
.signin__login-link a {
  color: #FFF;
  text-decoration: none;
}
.products {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.products__layout {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.products__items {
  width: auto;
  height: auto;
  padding: 20px 25px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F0F0F0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.products__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.products__image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.products__title {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.products__descrp {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.8);
}
@media screen and (max-width: 799px) {
  .products__layout {
    max-width: 600px;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .products__layout {
    max-width: 400px;
    width: 100%;
  }
  .products__items {
    padding: 30px 25px;
  }
}
@media screen and (max-width: 419px) {
  .products__layout {
    max-width: 300px;
    width: 100%;
  }
  .products__items {
    padding: 20px 25px;
  }
}
.products__layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: 250px;
  grid-gap: 15px;
}
@media screen and (max-width: 799px) {
  .products__layout {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 599px) {
  .products__layout {
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: minmax(400px, 1fr);
    grid-gap: 25px 0;
  }
}
@media screen and (max-width: 419px) {
  .products__layout {
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: minmax(300px, 1fr);
    grid-gap: 25px 0;
  }
}
.signin {
  display: grid;
  grid-template-columns: minmax(auto, 960px);
  justify-content: center;
}
.signin__contnr {
  display: grid;
  grid-template-columns: 100px 1fr 320px;
  grid-template-areas: "img title form" ". descrip form" ". login form";
  grid-gap: 0 20px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 876px) {
  .signin {
    height: auto;
  }
  .signin__contnr {
    grid-template-columns: 100px 1fr;
    grid-template-areas: "img title" "descrip descrip" "form form" "login login";
  }
  .signin__descrp {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .signin__form {
    height: auto;
  }
  .signin__login {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
